// Collection of useful SCSS mixins


// Calculate rem size of the font with px fallback
@mixin font-size($size, $base: $baseFontSize) {
    font-size: #{$size + 'px'};
    font-size: ($size / $base) * 1rem;
}


// Put always needed attributes in ::before and ::after pseudoelements
@mixin pseudo($display: block, $position: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $position;
}


// Hardware acceleration for animations
@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}


// Animate elements
@mixin animate($what: all, $howLong: .3s, $easing: ease) {
    transition: $what $howLong $easing;
}


// Make rectangle / square easly
@mixin rect($sizeX, $sizeY: $sizeX) {
    width: $sizeX;
    height: $sizeY;
}


// Make circle
@mixin circle($size, $radius: $size / 2) {
    @include square($size);
    border-radius: $radius;
}

// Make rounded corners easly
@mixin round($tl, $tr: $tl, $br: $tl, $bl: $tl) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr;
    border-bottom-right-radius: $br;
    border-bottom-left-radius: $bl;
}
