*[class^=col] {
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

//  Columns by percentage (10% step)
$i: 5;
@while $i < 100 {
    .col-#{$i} {
        width: #{$i + '%'};
        max-width: #{$i + '%'};
    }

    $i: $i + 5;
}

.col-33 { width: 33% }
.col-66 { width: 66% }
