.row {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width: calc(100% + 30px);
    margin: 0 -15px;

    &--pull-right { justify-content: flex-end }
    &--center { justify-content: center }
    &--space { justify-content: space-between }
}
